body {
    background-color: #F8F8F8;
    color: #3333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 14px;
    margin: 0;
    padding: 15px;
}

.editPanel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    overflow: auto;
}

.editPanel .wrapper {
    width: 400px;
    border: 1px solid #CCCCCC;
    background: #EEEEEE;
    padding: 0 15px;
    margin: 0 auto;
    overflow: auto;
}

.editPanelClose {
    float: right;
    margin-right: -15px;
    border-right: none;
    border-top: none;
}

.sheetPanel {
    width: 795px;
    border: 1px solid #CCCCCC;
    background: #FFFFFF;
    padding: 0 15px;
    margin: 0 auto;
    overflow: auto;
}

.leftColumn {
    width: 340px;
    float: left;
}

.rightColumn {
    width: 440px;
    float: right;
}

p, h1 {
    margin: 15px 0;
}

label {
    font-weight: bold;
}

input, select, textarea {
    text-align: center;
    vertical-align: middle;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    display: inline-block;
    font-size: inherit;
    width: auto;
    font-size: 10px;
    height: 20px;
    padding: 1px 5px;
    box-sizing: border-box;
}

input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input[type=radio] {
    padding: 0;
    border: 0;
    margin: 0 3px 0 10px;
    height: auto;
    vertical-align: text-top;
    background: transparent;
}

input[type=range] {
    padding: 5px;
    border: none;
    margin: 0;
    background: transparent;
}

input + input {
    margin-left: -1px;
}

table, ul {
    border-collapse: collapse;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

table td,
ul li {
    text-align: center;
    padding: 7px 10px;
    list-style: none;
}

table tr:nth-child(odd),
ul li:nth-child(odd) {
    background: #EEEEEE;
}

table tr:nth-child(even),
ul li:nth-child(even) {
    background: #DDDDDD;
}

table .field {
    padding: 4px;
}

table .sep {
    border-right: 1px solid #CCCCCC;
}

.head {
    font-weight: bold;
}

.input {
    width: 3em;
    padding: 1px;
}

.inputTiny {
    width: 18px;
    padding: 1px;
}

.tiny {
    font-size: 9px;
}

.width-1-6 {
    display: table-cell;
    width: 16.66%;
}
.width-2-6 {
    display: table-cell;
    width: 33.33%;
}
.width-3-6 {
    display: table-cell;
    width: 50%;
}
.width-4-6 {
    display: table-cell;
    width: 66.66%;
}
.width-5-6 {
    display: table-cell;
    width: 83.33%;
}
.width-6-6 {
    display: table-cell;
    width: 100%;
}

.fullWidth {
    width: 100%;
}

.floatLeft {
    float: left;
    clear: left;
}

.floatRight {
    float: right;
    clear: right;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

